* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font-family: 'Droid Sans', sans-serif;
}

/* For old browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
}

body {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #d9d9d9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #d9d9d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */

	min-height: 100%;
}

/* Main container */
.content {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 1em;
}

body > .content {
	padding-top: 2ex;
	padding-bottom: 6ex;
}

@media (min-width: 500px) {
	body > .content {
		padding-top: 10ex;
	}
}

@media (min-width: 750px) {
	.content {
		max-width: 600px;
	}
}



/* Footer */
footer {
	position: fixed;
	bottom: 0;
	height: 6ex;
	line-height: 6ex;

	background: #666;
	border-top: 1px solid #000;
	width: 100%;
	color: #fff;
}

.company-name {
	font-weight: 800;
}


/* Form */
h1 {
	text-shadow: 2px 2px rgba(0,0,0,.2);
	margin: 2ex 0 1ex;
	font-size: 166.67%;
}
p.description {
	font-size: 77.78%;
}

.product > *,
.product-header > * {
	display: inline-block;
	float: left;
	text-align: center;
}

.product-header {
	margin-top: 2ex;
	font-weight: 800;
}
.product-header > * {
	border-bottom: 1px solid #000;
	padding: 1ex .5em 0;
}

.product:nth-child(2n) {
	background: #ddd;
}

.product > * {
	padding: 1ex .5em;
	min-height: calc(22px + 2ex);
	line-height: 22px;
	/*box-sizing: content-box;*/
}

.product:after,
.product-header:after {
	content: "";
	clear: both;
	display: block;
}

.name {
	width: 40%;
	text-align: left;
}

.price,
.summary .value  {
	width: 15%;
	text-align: right;
}

.qty {
	width: 20%;
}

.qty input {
	width: 4em;
}

.action {
	width: 10%;
	float: left;
	line-height: 0;
}

.product button.remove {
	background: url("../img/trash.png") no-repeat center;
	background-size: Auto 22px;
	border: none;
	width: 20px;
	height: 22px;
}

.product button.remove:hover {
	background-image: url("../img/trash-hover.png");
	cursor: pointer;
}


/* Form summary*/
.summary {
	color: #666;
	padding: 4ex 0;
	text-align: right;
}

.summary div {
	text-align: left;
}

.summary div:after {
	content: "";
	clear: both;
	display: block;
}

.summary div > * {
	float: left;
	padding: 0 .5em;
}
.summary .name {
	width: 75%;
}

.summary .total {
	color: #000;
	margin-top: 3ex;
	margin-bottom: 4ex;
	font-weight: 800;
}

button[type="submit"] {
	background: #000666;
	color: white;
	font-weight: 800;
	padding: 1ex .5em;
	border-radius: 5px;
	border: none;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
	font-size: 133.33%;
	margin-right: 10%;
	cursor: pointer;
}

button[type="submit"]:after {
	display: inline;
	content: "»";
}

button[type="submit"]:hover {
	background: #3333ff;
}

button[type="submit"]:disabled {
	background: #333;
	cursor: auto;
}

input[type=number] {
	border: 1px solid #999;
	height: 3ex;
	display: inline-block;
	vertical-align: middle;
}