/* Number spinners */
input[type=number].styled::-webkit-inner-spin-button, 
input[type=number].styled::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}

input[type=number].styled {
	-moz-appearance: textfield;
}

.number-input-buttons {
	display: inline-block;
	vertical-align: middle;
}

.number-input-buttons button {
	display: block;
	background: #999;
	font-size: 70%;
	color: white;
	border: none;
	width: 1.5em;
	margin: 1px;
	height: 2ex;
	line-height: 2ex;
	cursor: pointer;
}